<html>
    <head>
<link rel="stylesheet"  type="text/css" href="/bootstrap.css">
<link rel="stylesheet"  type="text/css" href="/fontawesome.css">
<link rel="stylesheet"  type="text/css" href="/resp_calendar.css">
<script src="/panchang.js"></script>
<script src="jquery.js"></script>
<script src="/moment.js"></script>
<script src="/resp_calendar.js"></script>
<meta charset="UTF-8"/>

</head>
<body>

    <div id="calendar"></div>

    <script type="text/javascript">
        calendar =new CalendarYvv("#calendar", moment().format("Y-M-D"),"Monday");
        calendar.createCalendar();
        calendar.funcNext = function(ev) {
            calendar.createCalendar();
            initPanchang();
        }
        calendar.funcPrev = function(ev) {
            calendar.createCalendar();
            initPanchang();
        }
        // preselected dates
       // calendar.diasResal = [1,2,3]

        // background color of preselected dates
        calendar.colorResal = "#28a7454d"

        // text color of preselected dates
        calendar.textResalt = "#28a745"

        // background class
        calendar.bg = "bg-dark";

        // text color class
        calendar.textColor = "text-white";

        // class for normal buttons
        calendar.btnH = "btn-outline-light";

        // button class when hovering over
        calendar.btnD = "btn-rounded-success";
        calendar.funcPer = function(ev){
        //    console.log(ev)
        };
        var masa_tel = ["చైత్ర", "వైశాఖ", "జైష్ఠ", "ఆషాఢ", "శ్రావణ", "భాద్రపద", "ఆశ్వయుజ", "కార్తిక", "మార్గశీర్ష", "పుష్య", "మాఘా", "ఫాల్గుణ"];
        var months = [];
        function getMonths() {
            return new Promise((resolve, reject)=> {
                ajax_get('/masam.json', function(data) {
                    months = data;
                    resolve();
                });
            })
        }
        function ajax_get(url, callback) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
    //                console.log('responseText:' + xmlhttp.responseText);
                    try {
                        var data = JSON.parse(xmlhttp.responseText);
                    } catch(err) {
                        console.log(err.message + " in " + xmlhttp.responseText);
                        return;
                    }
                    callback(data);
                }
            };
        
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        async function getPanchangeForDate(t) {
            return new Promise((resolve, reject) => {
                panchang.calculate(t, function () {
                    return resolve(JSON.stringify(panchang));
                });
            }).then(p => {
                // console.log('111111111', p)
                return p;
            })
        }
        function toDate(str) {
            var parts =str.split('/');
            var mydate = parts[2] + '-' + parts[1] + '-' + parts[0] + 'T00:00:00Z';
            var retdate = new Date(mydate);
            retdate.setHours(0,0,0,0)
            return retdate;
        }

        function getMonthName(_dt) {
            for (var i = 0; i < months.length; i++) {
                var start = toDate(months[i].start);
                var end = toDate(months[i].end);
                if (_dt.getTime() >= start.getTime() && _dt <= end.getTime()) {
                return masa_tel[months[i].masam];
                }
            }
            return "";
        }
        async function initPanchang() {
            $(':not([data-date=""])').each(async function(index) {
                var dStr = $(this).attr('data-date');
                if (dStr) {
                    var s = dStr.split('-');
                    var d = new Date();
                   // d.setHours(10); d.setMinutes(0); d.setSeconds(0);
                    d.setFullYear(s[0]);
                    d.setMonth(s[1] - 1);
                    d.setDate(s[2]);

                    var p =  JSON.parse(await getPanchangeForDate(d));
                    var dayNo =  $(this).text();
                    var monthName = getMonthName(d);
                    $(this).empty()
                    var pDiv = document.createElement("div");
                    pDiv.classList.add("panchang-day-cell")
                    $(this).append(pDiv);
                    $(pDiv).append(`<div class="panchang-margin-right panchang-font-size panchang-day-font-color" > ${dayNo} </div>`)
                    $(pDiv).append(`<div class="panchang-margin-right panchang-font-size panchang-samvatsara-font-color"> ${p.samvatsara.name} </div>`)
                    $(pDiv).append(`<div class="panchang-margin-right panchang-font-size panchang-masam-font-color"> ${monthName} </div>`)
                    $(pDiv).append(`<div class="panchang-margin-right panchang-font-size panchang-paksham-font-color" > ${p.paksham.name} </div>`)
                    $(pDiv).append(`<div class="panchang-margin-right panchang-font-size panchang-tithi-font-color"> ${p.Tithi.name} </div>`)
                    
                }
            })

        }
        getMonths().then(() => {
            initPanchang();
        })
    </script>
</body>
</html>