<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/panchang.js"></script>
  <script src="/suncalc.js"></script>
  <meta charset="UTF-8"/>
  <!-- <script src="/lunarphase.js"></script> -->
  <script type="text/javascript">
            /*var test_date = new Date();
        test_date.setFullYear(2022);
        test_date.setMonth(11);
        test_date.setDate(27);
        test_date.setHours(0);test_date.setMinutes(0);test_date.setSeconds(0);
        console.log("test_date", test_date, getMonthName(test_date), "Shukla");*/
        //buildMonthNames(new Date());
    var tempstr = '';
    var months = [];

    const date = new Date();
    var todayDate = new Date();
    var len = 0;
    var images=[];
    var dow = 'Mon';
    var fulldow='Monday';
    var _days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    //var fulldays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var fulldays = ['ఆదివారం', 'సోమవారం', 'మంగళవారం', 'బుధవారం', 'గురువారం', 'శుక్రవారం', 'శనివారం'];
    function getFullDow() {
      let d = (new Date()).getDay();
      return fulldays[d];
    }
    function getDow() {
      let d = (new Date()).getDay();
//console.log("1111111111111111111", d, _days);
      return _days[d];
    }
    function ajax_get(url, callback) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
//                console.log('responseText:' + xmlhttp.responseText);
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch(err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
    
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    function getImages() {
      dow = getDow();
      ajax_get('/images?folder=' + dow, function(data) {
          images = data;
      });
    }
    function getMonths() {
      ajax_get('/masam.json', function(data) {
          months = data;
      });
    }

    getImages();
    getMonths();
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function showPanchang() {
      var t = new Date();
      fulldow = getFullDow();
      panchang.calculate(t, function() {
        
//        console.log(panchang)
        var el=document.getElementById("p_date");
        const today = t;
        const yyyy = today.getFullYear();
        let mm = today.getMonth() + 1; // Months start at 0!
        let dd = today.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedToday = dd + '/' + mm + '/' + yyyy;
        el.innerText = formattedToday;
        
        let hh = today.getHours();
        let mi = today.getMinutes();
        let se = today.getSeconds();
        if (hh == 0 && mi === 0 && se === 0) {
          todayDate = new Date();
          buildMonthNames(todayDate);
          
        }

        if (hh <10) hh = '0' + hh;
        if (mi < 10) mi = '0' + mi;
        if (se < 10) se = '0' + se;
        const formattedTime = hh + ":" + mi + ":" + se;
        el=document.getElementById("p_time");
        el.innerText=formattedTime;

        el=document.getElementById("p_day");
        el.innerText=fulldow;

        el=document.getElementById('p_tithi');
        let stdt = panchang.Tithi.start + '';
        stdt = stdt.substr(0, stdt.indexOf('GMT')-1);
        let eddt = panchang.Tithi.end + '';
        eddt = eddt.substr(0, eddt.indexOf('GMT')-1);
        el.innerText=panchang.Tithi.name// + " " + stdt + ' to ' + eddt;

        el=document.getElementById('p_nakshatra');
        stdt = panchang.Nakshatra.start + '';
        stdt = stdt.substr(0, stdt.indexOf('GMT')-1);
        eddt = panchang.Nakshatra.end + '';
        eddt = eddt.substr(0, eddt.indexOf('GMT')-1);
        el.innerText=panchang.Nakshatra.name //+ " " + stdt + ' to ' + eddt;


        el=document.getElementById('p_raasi');
        el.innerText=panchang.Raasi.name;

        el=document.getElementById('p_karna');
        stdt = panchang.Karna.start + '';
        stdt = stdt.substr(0, stdt.indexOf('GMT')-1);
        eddt = panchang.Karna.end + '';
        eddt = eddt.substr(0, eddt.indexOf('GMT')-1);
        el.innerText=panchang.Karna.name //+ " " + stdt + ' to ' + eddt;

        el=document.getElementById('p_paksham');
        el.innerText=panchang.paksham.name;


        el=document.getElementById('p_maasa');
        //el.innerText='Maasa: ' + getMonthName(new Date(), panchang.paksham.name);
        el.innerText=getMonthName(todayDate);
        
        // console.log("1111111111", x, isNewMoon(x));

        el=document.getElementById('p_year');
        el.innerText=panchang.samvatsara.name;


        el=document.getElementById('p_yoga');
        stdt = panchang.Yoga.start + '';
        stdt = stdt.substr(0, stdt.indexOf('GMT')-1);
        eddt = panchang.Yoga.end + '';
        eddt = eddt.substr(0, eddt.indexOf('GMT')-1);
        el.innerText=panchang.Yoga.name;// + " " + stdt + ' to ' + eddt;


        
      });
    }
    function showTithisInfo() {
      var ti= document.getElementById("thithis-info");
      
      panchang.calculate((new Date()), function() {
        let stdt = panchang.Tithi.start + '';
        stdt = stdt.substr(0, stdt.indexOf('GMT')-1);
        let eddt = panchang.Tithi.end + '';
        eddt = eddt.substr(0, eddt.indexOf('GMT')-1);
        ti.innerText=panchang.Tithi.name + " " + stdt + ' to ' + eddt;
      })
    }
    function _showPanchang() {
      showTithisInfo();
      showPanchang();
    }
    function _showImage() {
      len = images.length;
      let index = getRandomInt(0, len - 1);
      let imgEl = document.getElementById("image")
     // imgEl["src"] = `/showimage?imagePath=${images[index]}`;
     imgEl.style.backgroundImage = `url(/showimage?imagePath=${images[index]})`;
    }
    function isNewMoon(_xdt) {
      var dt = new Date(_xdt);
        // dt.setHours(0);
        // dt.setMinutes(0);
        // dt.setSeconds(0);
        for (var i = 0; i < 720*2; i++) {
            dt.setMinutes(dt.getMinutes() + 1);
            dt.setSeconds(0);
            //console.log(dt, SunCalc.getMoonIllumination(dt).phase)
            if (SunCalc.getMoonIllumination(dt).phase >= 0.97) {
                return true;
            }
        }
        return false;
        
    }
    function buildMonthNames(_curDate) {
      var masa = ["Chaitra", "Vaishaakha", "Jyaishtha", "Aashaadha", "Shraavana", "Bhaadrapada", "Aashvayuja", "Kaartika", "Maargashirsha", "Pushya", "Maagha", "Phaalguna"];
      var masa_tel = ["చైత్ర", "వైశాఖ", "జైష్ఠ", "ఆషాఢ", "శ్రావణ", "భాద్రపద", "ఆశ్వయుజ", "కార్తిక", "మార్గశీర్ష", "పుష్య", "మాఘా", "ఫాల్గుణ"];
      masa = masa_tel;
      // calculate months from march occurring between two new moons
      
      var startDayOfMonth = null;
      var i = 0;
      var curDate = new Date(_curDate);
      while (startDayOfMonth === null && i < 365) {
        if (curDate.getMonth() !== 3) {
          curDate.setDate(curDate.getDate() - 1);
        } else {
          startDayOfMonth = new Date(curDate);
          startDayOfMonth.setDate(1);startDayOfMonth.setHours(0); startDayOfMonth.setMinutes(0); startDayOfMonth.setSeconds(0);
        }
        i++;
      }
      while (!isNewMoon(startDayOfMonth)) {
        startDayOfMonth.setDate(startDayOfMonth.getDate() + 1);
      }
      //startDayOfMonth.setDate(startDayOfMonth.getDate() - 28);
      startDayOfMonth.setDate(startDayOfMonth.getDate() + 1);
     // console.log("first month date", startDayOfMonth);
      var lastDateOfMonth = new Date(startDayOfMonth);
      lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
      while (!isNewMoon(lastDateOfMonth)) {
        lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
      }
      //console.log("end month date", lastDateOfMonth);
      months.push({name:masa[0], "start" : new Date(startDayOfMonth), "end" : new Date(lastDateOfMonth)});

      startDayOfMonth.setDate(lastDateOfMonth.getDate() + 1);
      // find new moon in the first month
      for (var i = 1; i < 12; i++) {
        lastDateOfMonth = new Date(lastDateOfMonth);
        lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
        while (!isNewMoon(lastDateOfMonth)) {
          lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
        }
        lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
        months.push({name:masa[i], "start" : new Date(startDayOfMonth), "end" : new Date(lastDateOfMonth)});
        
        //lastDateOfMonth.setDate(lastDateOfMonth.getDate() + 1);
        startDayOfMonth = new Date(lastDateOfMonth);
        startDayOfMonth.setDate(startDayOfMonth.getDate() + 1)

      }

     /* var moi=document.getElementById("months-info");
      var mStr = "";
      for (var i = 0; i < 12; i++) {
        mStr = mStr + "[ " + months[i].name + ": " + format_date(months[i].start) + "-" + format_date(months[i].end) + " ] ";
      }
      moi.innerText = mStr;*/


      //console.log("111111111111", months);

    }
    
    /*function getMonthName(_dt) {
      for (var i = 0; i < months.length; i++) {
        if (_dt >= months[i].start && _dt <= months[i].end) {
          return months[i].name
        }
      }
      return "";
    }*/
    function toDate(str) {
      var parts =str.split('/');
      var mydate = parts[2] + '-' + parts[1] + '-' + parts[0] + 'T00:00:00Z';
      var retdate = new Date(mydate);
      retdate.setHours(0,0,0,0)
      return retdate;
    }
    var masa = ["Chaitra", "Vaishaakha", "Jyaishtha", "Aashaadha", "Shraavana", "Bhaadrapada", "Aashvayuja", "Kaartika", "Maargashirsha", "Pushya", "Maagha", "Phaalguna"];
      var masa_tel = ["చైత్ర", "వైశాఖ", "జైష్ఠ", "ఆషాఢ", "శ్రావణ", "భాద్రపద", "ఆశ్వయుజ", "కార్తిక", "మార్గశీర్ష", "పుష్య", "మాఘా", "ఫాల్గుణ"];
    function getMonthName(_dt) {
      for (var i = 0; i < months.length; i++) {
        var start = toDate(months[i].start);
        var end = toDate(months[i].end);
        if (_dt.getTime() >= start.getTime() && _dt <= end.getTime()) {
          return masa_tel[months[i].masam];
        }
      }
      return "";
    }

    function format_date(dt) {
      var dd = dt.getDate();
      if (dd < 10) dd = "0" + dd;

      var mm = dt.getMonth() + 1;
      if (mm < 10) mm = "0" + mm;
      return dd + "/" + mm  + "/" + dt.getFullYear();
    }
    
    function getWeatherInfo() {
      var wi = document.getElementById("weather-info");
      try {
        ajax_get("/temp", res => {
          if (res.success) {
            tempstr = 'T:' + res.temperature + '<sup>o</sup>c  H:' + res.humidity + '%';
            wi.innerHTML = tempstr;
          } else {
            //str = '';
          }
          
        })
      } catch(e) {
        console.log(e);
        wi.innerHTML = '';
      }
    }
    function startSlideShow() {
      if (images) {
        _showImage();
        _showPanchang();

        setInterval(() => {
          getMonths();
          getImages();
          _showImage();
        }, 30 * 1000);

        setInterval(() => {
         getWeatherInfo();
        }, 10 * 1000);

       setInterval(() => {
          _showPanchang();
        }, 1000);
        
      }
    }
    // todayDate.setDate(10);
    // todayDate.setMonth(0)
    // todayDate.setFullYear(2022);
    setTimeout(() => {
      //buildMonthNames(todayDate);
      startSlideShow();
      getWeatherInfo();
    }, 2000);

  </script>
</head>
<body>
  <div style="float: left; width: 100%; height:100%;">
    <div class="info-block">
      <div class="white-text">
        <div id="p_date" style="width:25%;float:left"></div>
        <div id="p_time" style="width:25%;float:left"></div>
        <div id="p_day" style="width:22%;float:left"></div>
        <div id="weather-info" style="width:28%;float:left;font-size: 35px;"></div>
      </div>
    </div>
    <div class="info-block-2">
      <div class="white-text">
        <marquee>
          <div class="line1"> 
            <div id="p_year_label" class="content-label">సంవత్సరం</div>
            <div id="p_year" class="content-text"></div>

            <div id="p_maasa_label" class="content-label">మాసం</div>
            <div id="p_maasa"  class="content-text"></div>

            <div id="p_paksham_label" class="content-label">పక్షం</div>
            <div id="p_paksham"  class="content-text"></div>

            <div id="p_tithi_label" class="content-label">తిథి</div>
            <div id="p_tithi" class="content-text"></div>

            <div id="p_nakshatra_label" class="content-label">నక్షత్రం</div>
            <div id="p_nakshatra" class="content-text"></div>

            <div id="p_raasi_label" class="content-label">రాశి</div>
            <div id="p_raasi" class="content-text"></div>

            <div id="p_karna_label" class="content-label">కరణ</div>
            <div id="p_karna" class="content-text"></div>

            <div id="p_yoga_label" class="content-label">యోగ</div>
            <div id="p_yoga" class="content-text"></div>

          </div>
        </marquee>
      </div>
    </div>

    <div class="info-block-2">
      <div class="white-text">
        <div class="month-name" >
            <marquee id="thithis-info"></marquee>
        </div>
      </div>
    </div>

    <div class="main-image">
        <!-- <img id="image" class="img"/> -->
        <div id="image" class="image-styled"></div>
    </div>
    <div class="info-block-2">
      <div class="white-text">
        <div class="month-name" >
            <marquee id="months-info"></marquee>
        </div>
      </div>
    </div>

    <!-- <div class="info-block-2">
      <div class="white-text">
        <div class="month-name" >
            <marquee id="weather-info"></marquee>
        </div>
      </div>
    </div> -->
  </div>
<script>

</script>

</body>
</html> 
